pkgbase = drover-bin
	pkgdesc = A native workspace for Herdr-powered agents, terminals, worktrees, and live sessions
	pkgver = 0.1.13
	pkgrel = 1
	url = https://github.com/marcelormendes/drover
	arch = x86_64
	license = MIT
	depends = fuse2
	optdepends = herdr: the Herdr engine this desktop controls (install from the Herdr project)
	provides = drover
	conflicts = drover
	options = !strip
	options = !debug
	source = drover-linux-x86_64.AppImage::https://github.com/marcelormendes/drover/releases/download/v0.1.12/drover-linux-x86_64.AppImage
	source = icon-1024.png::https://raw.githubusercontent.com/marcelormendes/drover/v0.1.12/resources/icon-1024.png
	source = LICENSE::https://raw.githubusercontent.com/marcelormendes/drover/v0.1.12/LICENSE
	sha256sums = 4deea5322e9675a4fa2df5eb0bbd418bf372881bcde2684994a0f4534898fd30
	sha256sums = 26bc1e96021e651612ed207632d0992415a79deabf77634ca590666b0b400f93
	sha256sums = c340e32ed2706b814e99e58e7cc87419a635fac31bfcf22567f8a6a0454729dd

pkgname = drover-bin
